<ion-header>
  <ion-toolbar>
    <ion-title>Doctors</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="openCornBooking()">
        <ion-item>
          
          <ion-label>Dr Mongo</ion-label>
          
              <ion-icon name="person"></ion-icon>
            
        </ion-item>
      
        <ion-card-content>
          MBBS, MCh - CARDIO THERACIC & VASCULAR SURGERY, FRCS SURGERY
        </ion-card-content>
      </ion-card>

      <ion-card (click)="openCornBooking()">
          <ion-item>
            
            <ion-label>Dr Khustar</ion-label>
            <ion-icon name="person"></ion-icon>
            
          </ion-item>
        
          <ion-card-content>
            GENERAL PRACTITIONER
          </ion-card-content>
        </ion-card>

        <ion-card (click)="openCornBooking()">
            <ion-item>
              
              <ion-label>Dr Thoko</ion-label>
              <ion-icon name="person"></ion-icon>
              
            </ion-item>
          
            <ion-card-content>
              OCCUPATINAL THERAPIST
            </ion-card-content>
          </ion-card>

          <ion-card (click)="openCornBooking()">
              <ion-item>
                
                <ion-label>Dr Phil</ion-label>
                <ion-icon name="person"></ion-icon>
                
              </ion-item>
            
              <ion-card-content>
                PEAIDIATRIC NEUROLOGIST
              </ion-card-content>
            </ion-card>
</ion-content>
