<ion-header>
  <ion-toolbar>
    <ion-title>New booking</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          
          <ion-label>Find Your Doctor</ion-label>
          
        </ion-item>
      
        <ion-card-content>
          Click on the bottun bellow to find the doctor you looking for.
        </ion-card-content>
        <ion-button [routerLink]="['/doc-list']" expand="full">Book Now</ion-button>
      </ion-card>
      
</ion-content>
